@media only screen and (max-width: 400px) {
  .quote {
    font-size: 80%;
  }

  .lefthalfcontent {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }

  .righthalfcontent {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size: 100%;
  }

  #linkedin {
    width: 100px;
  }

  .gallery {
    width: 90%;
  }

  .polaroid {
    font-size: small;
    border-radius: 4px;
    padding: 10px;
  }

  .text {
    position: relative;
    color: black;
  }

  #front-words {
    font-size: 1em;
  }
  
  #front-quote {
    color: #3498db;
  }
  
  #front-nav a:link, #front-nav a:visited{
    color: #3498db;
  }
  
  #front-nav a:hover, #front-nav a:active{
    color:  #3498db;
  }
  
  #front-nav #currentPage{
    color: black;
  }
}

@media only screen and (max-width: 800px) {
  .quote {
    font-size: 90%;
  }

  .lefthalfcontent {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }

  .righthalfcontent {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size: 100%;
  }

  .aboutimage {
    float: none;
    margin: 0 auto 0 auto;
  }

  #linkedin {
    float: none;
    margin: 0 auto 0 auto;
  }

  .gallery {
    width: 80%;
  }

  .polaroid {
    font-size: small;
    border-radius: 4px;
    padding: 10px;
  }
}

@media only screen and (max-width: 890px) {
  .text {
    position: relative;
    color: black;
  }

  #front-words {
    font-size: 2em;
  }
  
  #front-quote {
    color: #3498db;
  }
  
  #front-nav a:link, #front-nav a:visited{
    color: #3498db;
  }
  
  #front-nav a:hover, #front-nav a:active{
    color:  #3498db;
  }
  
  #front-nav #currentPage{
    color: black;
  }
}