h1 {
  text-align: center;
	font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
	font-weight: 300;
  font-size: x-large;
}

h2 {
  font-style: italic;
}

.quote{
	font-family:'Bad Script', cursive;
	font-size: large;
	color: #3498db;
  text-align: center;
  display: block;
}

#foot {
	clear: both;
	color:  #3498db;
	text-align: center;
  font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
  position: relative;
}

hr { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

/*Photo Slides--------------------------------------*/
.gallery {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.carousel-control-prev,
.carousel-control-next{
  top: 50%;
  bottom: 0;
}

/*Header / Navigation--------------------------------------*/
 .nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: black;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: #3498db;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #3498db;
  border-bottom-color: #3498db;
}

#navigation{
  font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
}
