a:link, a:visited {
	color: black;
  text-decoration: none;
  padding: 1px 12px;
  text-align: center;
  display: inline-block;
}

a:hover, a:active {
  color:  #3498db;
  text-decoration: none;
}

#currentPage {
  color: #3498db;
}

.quote{
	font-family:'Bad Script', cursive;
	font-size: large;
	color: #3498db;
  text-align: center;
  display: block;
  padding-top: 50px;
}

h1 {
  text-align: center;
	font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
	font-weight: 300;
  font-size: x-large;
}

h2 {
  font-style: italic;
}

.brand {
  width: 40%;
  float: left;
  position: relative;
  text-align: left;

  color: black;
}

.navigation{
  width: 45%;
  font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
  color: black;
	font-weight: 300;
  text-align: right;
  font-size: small;

  float: right;
  position: relative;
  margin-right: 15%;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

.navigation ul li {
  display:inline;
}

img {
  max-width: 100%;
  height: auto;
}

#foot {
	clear: both;
	color:  #3498db;
	text-align: center;
  font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
  position: relative;
}

hr { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

/*CONTACT FORM--------------------------------------*/
a:link, a:visited {
	color: black;
  text-decoration: none;
  padding: 1px 12px;
  text-align: center;
  display: inline-block;
}

a:hover, a:active {
  color: gray;
  text-decoration: none;
}

label {
  display: block;
  float: left;
	margin-left: 5%
}

.centercontent{
	min-height: 100 px;
	font-family: 'Poppins', sans-serif;  
	text-align: center;
	font-size: large;
}

/*Photo Slides--------------------------------------*/
.gallery {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}
